.backdrop {
	backdrop-filter: blur(0.2px) brightness(60%) contrast(0.9);
	position: absolute;
  inset: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
	scale: 1.04;
}

.videoContainer > div {
  justify-content: center;
  align-items: center;
}

/* .video {
	position: absolute; 
  width: 100%; 
} */
