.ayah-container {
	flex-direction: column;
}

.ayah {
	color: #dfbf8f;
  font-family: "Maidan";
	text-align: center;
	margin: 0;

	display: flex;
	gap: 2rem;
	justify-content: center;
	align-items: center;
	font-weight: 100;

}

.ayah.rg {
	font-size: 52px;
}

.ayah span {
	color: rgb(255, 255, 255);

	font-size: 1.2em;
}

.ayah.lg {
	font-size: 80px;
}

.translation {
	color: #fff;
	font-family: "Poppins";
	font-weight: 400;
	text-align: center;
	margin: 0;
	margin-top: 1rem;
}

.translation.rg {
	font-size: 20px;
}

.translation.lg {
	font-size: 30px;
}



@keyframes fading {
  0% {
		opacity: 0;
  }

  50% {
		opacity: 1;
  }
  100% {
		opacity: 0;
  }
}


.fade {
    animation: 3500ms linear fading;
}