.wrapper {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
}

.center {
	align-items: center;
	justify-content: center;
}

.strips {
	background: repeating-linear-gradient(
		45deg,
		#606dbc,
		#606dbc 10px,
		#465298 10px,
		#465298 20px
	);
}
