.footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1rem;
	width: 100%;
}

.logo.rg {
	height: 50px;
}

.logo.lg {
	height: 65px;
}

.reciter-container {
	display: flex;
	gap: 0.7rem;
	align-items: center;
	.rectier {
		font-family:  "Amiri";
		color: #fff;
		font-weight: 900;
		margin: 0;
		line-height: 0;
	}
	
	.rectier.rg {
		font-size: 26px;
	}
	
	.rectier.lg {
		font-size: 35px;
	}
}
